.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.bgImage{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background-size: cover;
    position: relative;
}
.projectItem{
    width: 300px;
    height: 300px;
    background: gray;
    border-radius: 10px;
    margin: 30px;
    cursor: pointer;
}
.projectList{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.project{
    width: 100%;
    height: 100vh;
}
.project img{
    width: 80%;
    height: 80%;
}